[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/plugins/start/gruvbox"]
	path = vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/plugins/start/copilot.vim"]
	path = vim/pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "vim/pack/plugins/start/vimdoc-ja"]
	path = vim/pack/plugins/start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja
[submodule "vim/pack/plugins/start/gruvbox-material"]
	path = vim/pack/plugins/start/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material
