[user]
	email = musou1500@gmail.com
	name = musou1500
[core]
	editor = nvim
	ui = auto
[alias]
  m = merge
  p = push
  ad = add
  cm = commit
  st = status
  co = checkout
  cl = clone
  ps = push
  pl = pull
	sandbox = ! ! git checkout sandbox && git checkout -b sandbox develop && echo "created new branch 'sandbox'"
	sandbox-reset = !git sandbox || git reset --hard develop
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
