set colored-stats on
set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on
#set colored-completion-prefix on
set skip-completed-text on
set visible-stats on
set menu-complete-display-prefix on
set mark-directories on
set mark-symlinked-directories on
TAB: menu-complete
set bell-style none
